<h1>Welcome to Alpha_Blog!</h1>
<p>This is a paragraph</p>
<p>Let's see if this image works</p>
<p style="color:red;">If it doesn't, that's fine, too</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Caitlin_Brodnick.jpg" alt="an image" style="width:500px;height:500px;">
<%= link_to 'About', about_path %>